body{
    background-color:azure;
    text-align: center;
}
.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}